* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

.app {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.timer {
    text-align: center;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

.lot {
    padding: 15px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    border-radius: 10px;
}

.lot-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}